ANTHROPIC_API_KEY=your_anthropic_api_key_here

TWILIO_ACCOUNT_SID=your_twilio_account_sid_here
TWILIO_AUTH_TOKEN=your_twilio_auth_token_here
TWILIO_FROM_NUMBER=+1xxxxxxxxxx
OWNER_PHONE_NUMBER=+1xxxxxxxxxx

GMAIL_ADDRESS=you@gmail.com
GMAIL_APP_PASSWORD=your_16_char_app_password_here
OWNER_EMAIL=owner@gmail.com
